<h1>Dashboard</h1>

<p class="notice">
  <%= notice %>
</p>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
        <h2 align="center">Current Roast</h2>
        <h4 align="center">
            <%= @current_roast[:roast].company %>
            <%= @current_roast[:roast].name %>
        </h4>
        <p align="center">
          Start Date: <%= @current_roast[:start_date].strftime("%a %d %b %Y") %>
        </p>

        <div class="row">
          <div class="col-sm-6 alert alert-success" align="center">
            <h1><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= @report[@current_roast[:roast]][:good]%></h1>
          </div>
          <div class="col-sm-6 alert alert-danger" align="center">
            <h1><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= @report[@current_roast[:roast]][:bad]%></h1>
          </div>
        </div>
    </div>
  </div>
</div>

<%= link_to new_admin_batch_path, {:class => "btn btn btn-block "} do %>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Start a New Batch
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= link_to admin_roasts_path, {:class => "btn btn btn-block "} do %>
      See All Roasts
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to new_admin_roast_path, {:class => "btn btn btn-block "} do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Roast
    <% end %>
  </div>
</div>

<h2>Top Roasts</h2>
<%= render 'admin/roasts/roasts' %>

<br />

<h2>Last 10 Batches</h2>
<%= render 'admin/batches/batches' %>
