<h1>Dashboard</h1>

<p class="notice">
  <%= notice %>
</p>

<div class="row">
  <div class="col-sm-6">
    <%= link_to admin_roasts_path, {:class => "btn btn btn-block "} do %>
      See All Roasts
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to new_admin_roast_path, {:class => "btn btn btn-block "} do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Roast
    <% end %>
  </div>
</div>

<h2>Batches History</h2>

<%= link_to new_admin_batch_path, {:class => "btn btn btn-block "} do %>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Batch
<% end %>

<br />

<%= render 'admin/batches/batches' %>
