<p id="notice"><%= notice %></p>

<h1>List of All Roasts</h1>

<%= link_to new_admin_roast_path, {:class => "btn btn btn-block"} do %>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Roast
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Roast Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_roasts.each do |admin_roast| %>
      <tr>
        <td><%= admin_roast.company %></td>
        <td><%= admin_roast.roastName %></td>
        <td><%= admin_roast.description %></td>
        <td><%= link_to 'Edit', edit_admin_roast_path(admin_roast) %></td>
        <td><%= link_to 'Delete', admin_roast, method: :delete, data: { confirm: 'Are you sure you want to delete this roast?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
