<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @roast.company %>
</p>

<p>
  <strong>Roastname:</strong>
  <%= @roast.roastName %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roast.description %>
</p>

<%= link_to 'Edit', edit_admin_roast_path(@roast) %> |
<%= link_to 'Back', admin_roasts_path %>
