<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">

      <h2 align="center"><%= "#{@roast.company} #{@roast.name}" %></h2>

      <p align="center"><%= @roast.description %></p>

      <br />
      <%= link_to new_admin_batch_path(:roast => @roast), {:class => "btn btn btn-block"} do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Batch
      <% end %>
      <br />

      <% if @roast.batches.empty? %>
      <p>No batches have been created</p>
      <% else %>
      <table class="table table-hover">
        <!-- Display batches -->
        <tr>
          <th>Start Date</th>
          <th>Cost per Gram</th>
          <th>Amount Purchased (g)</th>
          <th colspan="2"></th>
        </tr>
        <% @roast.batches.order('starts_at DESC').each do |batch| %>
        <% batch_presenter = BatchPresenter.new(batch)%>
        <tr>
          <td><%= batch_presenter.starts_at %></td>
          <td><%= batch_presenter.cost_per_gram %></td>
          <td><%= batch_presenter.amount_purchased %></td>
          <td><%= link_to 'Edit', edit_admin_batch_path(batch_presenter) %></td>
          <td><%= link_to 'Delete', admin_batch_path(batch_presenter), method: :delete, data: { confirm: 'Are you sure you want to delete this batch?' } %></td>
        </tr>
        <% end %>
      </table>
      <% end %>

    </div>
  </div>
</div>

<%= link_to admin_root_path, {:class => "btn btn btn-block"} do %>
Back
<% end %>
